* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
  background-color: rgb(175, 196, 175);
}

h1 {
  /* color: rgb(223, 155, 52); */
  margin-top: 20vh;
  margin-bottom: 30px;
  color: white;
}
input {
  font-size: 1rem;
  width: 300px;
  padding: 6px 2px;
  margin: 10px 0 10px 0;
}
.sub {
  background-color: cyan;
  cursor: pointer;
}

form {
  /* margin-top: 20vh; */
  text-align: center;
  border: 5px solid rgb(127, 132, 135);
  padding: 20px;
  background-color: rgb(167, 243, 251);
}
